* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#view {
    top: 0px;
    right: 1px;
}

button {
    background-color: darkblue;
    color: white;
    border-radius: 3px;
}

#container {
    text-align: center;
    margin: 15% auto;
    width: 25%;

}

h1 {
    font-weight: bold;
}

.timeMarker {
    top: 0px;
    left: 5px;
}